{% extends 'base.html.twig' %}

{% block title %}Edit PurchasePlayers{% endblock %}

{% block body %}
    <h1>Edit PurchasePlayers</h1>

    {{ include('purchase_players/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_purchase_players_index') }}">back to list</a>

    {{ include('purchase_players/_delete_form.html.twig') }}
{% endblock %}
